In [1]:
import polars as pl
pl.__version__

'0.19.13'

In [2]:
df = pl.scan_csv("TA.csv", try_parse_dates=True)

In [ ]:
df.limit(0).collect().schema

In [30]:
q = (
    df  .select(['NAME', 'Date', 'Median_SP'])
        .filter(pl.col('NAME') == 'Auckland')
        .drop_nulls()
        .group_by(pl.col('Date').dt.year(), maintain_order=True)
        .agg(
            pl.col('NAME').first().alias("Region"), 
            pl.col('Median_SP').mean().round().alias('Median_Price'), 
            pl.col('Median_SP').count().alias('Observations')
        )
    )
res = q.collect()
res

shape: (31, 4)
┌──────┬──────────┬──────────────┬──────────────┐
│ Date ┆ Region   ┆ Median_Price ┆ Observations │
│ ---  ┆ ---      ┆ ---          ┆ ---          │
│ i32  ┆ str      ┆ f64          ┆ u32          │
╞══════╪══════════╪══════════════╪══════════════╡
│ 2023 ┆ Auckland ┆ 975000.0     ┆ 3            │
│ 2022 ┆ Auckland ┆ 1.10625e6    ┆ 4            │
│ 2021 ┆ Auckland ┆ 1.1125e6     ┆ 4            │
│ 2020 ┆ Auckland ┆ 911043.0     ┆ 4            │
│ …    ┆ …        ┆ …            ┆ …            │
│ 1996 ┆ Auckland ┆ 221500.0     ┆ 4            │
│ 1995 ┆ Auckland ┆ 183375.0     ┆ 4            │
│ 1994 ┆ Auckland ┆ 164750.0     ┆ 4            │
│ 1993 ┆ Auckland ┆ 141250.0     ┆ 4            │
└──────┴──────────┴──────────────┴──────────────┘