In [1]:
import pandas as pd
import matplotlib.pyplot as plt
pd.__version__

'2.1.3'

In [2]:
df = pd.read_csv('TA.csv')

In [3]:
df.NAME.unique()

array(['Far North District', 'Whangarei District', 'Kaipara District',
       'Thames-Coromandel District', 'Hauraki District',
       'Waikato District', 'Matamata-Piako District', 'Hamilton City',
       'Waipa District', 'South Waikato District', 'Waitomo District',
       'Taupo District', 'Western Bay of Plenty District',
       'Tauranga City', 'Rotorua District', 'Whakatane District',
       'Kawerau District', 'Opotiki District', 'Gisborne District',
       'Wairoa District', 'Hastings District', 'Napier City',
       "Central Hawke's Bay District", 'New Plymouth District',
       'Stratford District', 'South Taranaki District',
       'Ruapehu District', 'Wanganui District', 'Rangitikei District',
       'Manawatu District', 'Palmerston North City', 'Tararua District',
       'Horowhenua District', 'Kapiti Coast District', 'Porirua City',
       'Upper Hutt City', 'Lower Hutt City', 'Wellington City',
       'Masterton District', 'Carterton District',
       'South Wairarapa District', 'Tasman District', 'Nelson City',
       'Marlborough District', 'Buller District', 'Grey District',
       'Westland District', 'Hurunui District', 'Waimakariri District',
       'Christchurch City', 'Selwyn District', 'Ashburton District',
       'Timaru District', 'Mackenzie District', 'Waimate District',
       'Waitaki District', 'Central Otago District',
       'Queenstown-Lakes District', 'Dunedin City', 'Clutha District',
       'Southland District', 'Gore District', 'Invercargill City',
       'Auckland', 'Otorohanga District', 'Kaikoura District',
       'Chatham Islands Territory', 'Greater Christchurch',
       'Greater Hamilton', 'Greater Tauranga', 'Greater Wellington',
       'Napier-Hastings', 'Nelson-Tasman', 'Greater Christchurch UDS'],
      dtype=object)

In [4]:
Christchurch_Median_Salesprice = (
    df[df.NAME == 'Greater Christchurch'][['NAME', 'Date', 'Median_SP']]
        .dropna()
        .groupby(pd.to_datetime(df.Date).dt.year)[['Median_SP']].mean()
)
Christchurch_Median_Salesprice

       Median_SP
Date
1993  116750.000
1994  126250.000
1995  131375.000
1996  139250.000
1997  147351.875
1998  149787.500
1999  154625.000
2000  155000.000
2001  156687.500
2002  159000.000
2003  181375.000
2004  226750.000
2005  267062.500
2006  293062.500
2007  323493.750
2008  315000.000
2009  317500.000
2010  329500.000
2011  349750.000
2012  366448.750
2013  404000.000
2014  440125.000
2015  449450.000
2016  462925.000
2017  464250.000
2018  467474.500
2019  476750.000
2020  509875.000
2021  632500.000
2022  704888.750
2023  689250.000

In [1]:
fig, ax1 = plt.subplots(figsize=(10, 6))

color = 'tab:blue'
ax1.set_xlabel('Year')
ax1.set_ylabel('Average Price', color=color)
ax1.plot(Christchurch_Median_Salesprice.index, Christchurch_Median_Salesprice.Median_SP, color=color)
ax1.tick_params(axis='y', labelcolor=color)

fig.tight_layout()
plt.title("Median Salesprice of Residential Dwellings in Greater Christchurch")
plt.grid(True)

plt.show()

NameError: name 'plt' is not defined

In [2]:
256 ** 4
4_294_967_296

4294967296